@import '../../../../theme/palette';

.title {
  color: $dark-grey;
  font-size: 34px;
  letter-spacing: 0.25px;
  line-height: 46px;
  text-align: center;
  margin: 32px 0;
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
    line-height: 1;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 22px;
  }
}