@import '../../../theme/palette';

.wrapperModal {
  height: 235px;
  width: 340px;
  text-align: center;
  position: relative;
  border-radius: 8px;
  padding: 40px 16px 24px;
  background-color: $white;
}

.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.close {
  top: 16px;
  right: 16px;
  cursor: pointer;
  position: absolute;
  transform: rotate(45deg);
}

.info {
  font-size: 14px;
  letter-spacing: 0.25px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.bold {
  font-weight: bold;
}
