@import "../../theme/palette";

@media (any-hover: hover) {
  .currencyLabel {
    &:hover {
      opacity: 0.8;
    }
  }
  .activeLabel {
    &:hover {
      opacity: 1;
    }
  }
  .bankButton {
    &:hover {
      background-color: #c4c6c9;
      border-color: #c4c6c9;
    }
  }
  .bankButtonActive {
    &:hover {
      background-color: $blue;
      border-color: $blue;
    }
  }
  .cardButton {
    &:hover {
      background-color: #c4c6c9;
      border-color: #c4c6c9;
    }
  }
  .cardButtonActive {
    &:hover {
      background-color: $blue;
      border-color: $blue;
    }
  }
  .reverseButton {
    &:hover {
      opacity: 0.8;
    }
  }
  .cashButton {
    &:hover {
      background-color: #c4c6c9;
      border-color: #c4c6c9;
    }
  }
}
.mainWrapper {
  position: relative;
  width: 736px;
  border-radius: 8px;
  margin: 0 auto;
}
.methodButtons {
 button {
   margin-right: 15px;
   &:last-of-type {
     margin-right: 0;
   }
 }
}
.mainInner {
  width: 736px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  padding: 24px;
}
.formWrapper {
  display: flex;
  justify-content: space-between;
}
.label {
  color: #1d2531;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  margin-bottom: 8px;
}

.field {
  height: 40px;
  padding-left: 12px;
  width: 324px;
  border: 1px solid #cfd7e3;
  border-radius: 4px;
  background-color: #ffffff;
  &::placeholder {
    color: $dark-grey;
    font-size: 16px;
    letter-spacing: 0.1px;
  }
}

.fieldActive {
  &:focus {
    border-color: $input-focus;
  }
}

.mainText {
  color: $dark-grey;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 10px;
}
.methodButtons {
  display: flex;

}

.bankButton {
  position: relative;
  height: 40px;
  width: 106px;
  border-radius: 4px;
  background-color: transparent;
  color: #4c6180;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d2d9e5;
  padding: 0;
  margin-right: 9px;
  svg {
    margin-right: 7px;
  }
  &:active {
    background-color: #dadcdf;
    border-color: #dadcdf;
  }
}
.bankButtonActive {
  background-color: $blue;
  color: $white;
  border-color: $blue;
  svg rect {
    fill: $white;
  }
  &:active {
    background-color: $blue;
    border-color: $blue;
  }
}
.cardButton {
  position: relative;
  height: 40px;
  width: 174px;
  border-radius: 4px;
  background-color: transparent;
  color: #4c6180;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d2d9e5;
  padding: 0;
  svg {
    margin-right: 7px;
  }
  &:active {
    background-color: #dadcdf;
    border-color: #dadcdf;
  }
}
.cardButtonActive {
  background-color: $blue;
  color: $white;
  border-color: $blue;
  svg {
    fill: $white;
  }
  &:active {
    background-color: $blue;
    border-color: $blue;
  }
}
.cashButton {
  position: relative;
  height: 40px;
  width: 106px;
  border-radius: 4px;
  background-color: transparent;
  color: #4c6180;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.35px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d2d9e5;
  padding: 0;
  svg {
    margin-right: 7px;
  }
  &:active {
    background-color: #dadcdf;
    border-color: #dadcdf;
  }
}
.cashButtonActive {
  background-color: $blue;
  color: $white;
  border-color: $blue;
  svg {
    fill: $white;
  }
  &:active {
    background-color: $blue;
    border-color: $blue;
  }
}
.reverseButton {
  border: none;
  transform: translateY(12px);
  background-color: transparent;
  height: 40px;
  align-self: center;
  padding: 0 10px;
  &:active {
    opacity: 0.6;
  }
}

.ticket {
  background-image: url("../../theme/images/TopupRedeem/Topup/ticket.png");
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 699px;
  margin-top: 29px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 16px;
}

.ticketTitle {
  color: $dark-grey;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.11px;
  line-height: 24px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 4px;
}

.ticketInfoItem {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;

  &:last-child {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 16px;
  }
}

.ticketInfoTotal {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  font-weight: bold;
}

.buttonWrapper {
  text-align: center;
  margin-top: 15px;
  transform: translateY(10px);
  button {
    width: 144px;
    padding: 0;
  }
}
.wrapperLabel {
  position: relative;
}

.wrapperGetInfo {
  display: flex;
  justify-content: space-between;
}

.currencyLabel {
  cursor: pointer;
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
  &:active {
    opacity: 0.6;
  }
}

.activeLabel {
  color: #3878ff;
  &:active {
    opacity: 1;
  }
}
.exchangeInfo {
  color: #4c6180;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
}
.fieldCoin {
  position: absolute;
  top: 32px;
  right: 8px;
  height: 24px;
  padding: 0 4px;
  text-align: center;
  border-radius: 2px;
  background-color: #dfe4ec;
  color: $dark-grey;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .mainWrapper {
    width: 100%;
  }
  .mainInner {
    width: 100%;
  }
  .field {
    width: 100%;
    padding-right: 55px;
  }
  .wrapperLabel {
    width: 100%;
  }
  .ticket {
    width: 100%;
    background-size: 100% 300px;
  }
}

@media (max-width: 576px) {
  .formWrapper {
    flex-direction: column;
  }
  .reverseButton {
    margin: 10px 0;
    transform: rotate(90deg);
    padding: 0;
  }
  .mainInner {
    padding: 15px 15px 6px 15px;
  }
  .bankButton {
    font-size: 12px;
    width: 90px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .cashButton {
    font-size: 12px;
    width: 90px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .cardButton {
    font-size: 12px;
    width: 145px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .ticket {
    margin-top: 0;
    padding: 15px;
  }
  .ticketTitle {
    font-size: 14px;
  }
  .ticketInfoItem {
    font-size: 12px;
  }
  .ticketInfoTotal {
    font-size: 14px;
  }
  .buttonWrapper {
    margin-top: 10px;
  }
  .methodButtons {
    flex-wrap: wrap;
    button {
      margin-right: 9px;
      margin-bottom: 9px;
    }
  }
  .ticket {
    background-size: 100% 280px;
  }
}
