.notificationStepsTitle {
  color: #1d2531;
  font-size: 48px;
  line-height: 66px;
  margin-bottom: 32px;
}

.notificationStepsText {
  color: #1d2531;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 27px;
  margin-bottom: 50px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.notificationStepsWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.notificationStepCircle {
  height: 64px;
  width: 64px;
  border: 2px solid #4c6180;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  background-color: #f2f5f7;
}

.notificationStepCircleImage {
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
}
.notificationStepCircleMobile {
  background-image: url("../../../theme/images/Verification/Notification/mobile.svg");
}
.notificationStepCircleCheck {
  background-image: url("../../../theme/images/Verification/Notification/check.svg");
}
.notificationStepCircleFingerprint {
  background-image: url("../../../theme/images/Verification/Notification/fingerprint.svg");
}
.notificationStepCircleMan {
  background-image: url("../../../theme/images/Verification/Notification/man.svg");
}

.notificationStepDivider {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #4c6180;
  top: 30px;
  right: 0;
  transform: translateX(100%);
}

.notificationStepWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.notificationStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 19%;
}

.notificationStepManActive {
  .notificationStepCircleMan {
    background-image: url("../../../theme/images/Verification/Notification/man-active.svg");
  }
}
.notificationStepMobileActive {
  .notificationStepCircleMobile {
    background-image: url("../../../theme/images/Verification/Notification/mobile-active.svg");
  }
  .notificationStepCircle {
    position: relative;
    border: 2px solid #3878ff;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent;
      opacity: 0.3;
      border: 6px solid #3878ff;
      border-radius: 50%;
      top: -6px;
    }
  }
  .notificationStepDivider {
    background-color: #3878ff;
  }
}
.notificationStepFingerprintActive {
  .notificationStepCircleFingerprint {
    background-image: url("../../../theme/images/Verification/Notification/fingerprint-active.svg");
  }
}
.notificationStepCheckActive {
  .notificationStepCircleCheck {
    background-image: url("../../../theme/images/Verification/Notification/check-active.svg");
  }
}

.notificationStepDescription {
  margin-top: 15px;
}

.notificationSteps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  width: 600px;
}

.wrapperButtons {
  display: flex;

  button {
    margin: 0 15px;
  }
}
@media (max-width: 650px) {
  .notificationSteps {
    width: 100%;
  }
  .notificationStepDivider {
    width: calc((100vw - 30px - 260px) / 3);
  }
  .notificationStepDescription {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .notificationStepsWrapper {
    margin-top: 20px;
  }
  .notificationStepsTitle {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 48px;
  }
  .notificationStepsText {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
  }
  .wrapperButtons {
    flex-direction: column;
    button {
      margin: 0 0 15px 0;
      &:first-of-type {
        order: 2;
        margin-bottom: 0;
      }
    }
  }
  .notificationSteps {
    margin-bottom: 40px;
  }
  .notificationStepDescription {
    font-size: 12px;
  }
  .notificationStepCircle {
    width: 40px;
    height: 40px;
  }
  .notificationStepCircleImage {
    background-size: contain;
    height: 30px;
  }
  .notificationStepDivider {
    top: 18px;
    width: calc((100vw - 30px - 160px) / 3);
  }
}