$white: #fff;
$black: #000;
$blue: #3878ff;
$light-gray: #f2f5f7;
$viollete: #624ed2;
$dark-grey: #1d2531;
$green: #33ffb9;
$red: #ff387e;
$yellow: #ffd338;
$light-viollete: #c9c2ef;
$light-red: #ff80a1;
$light-green: #80ffdb;
$light-yellow: #ffdc80;
$light-grey: #4c6180;
$btn-blue-hover: #75A2FF;
$btn-red-hover: #FF7599;
$btn-blue-active: #1460FF;
$btn-red-active: #FF1452;
$input-focus: #03b2cb;