@import "../../../theme/palette";

.wrapper {
  display: flex;
  padding: 10px 0;
}

.message {
  display: inline-flex;
  justify-content: center;
  min-height: 40px;
  max-width: 70%;

  &__avatar {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin: 0 12px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &--none {
      background-image: url('../../../theme/images/Chat/contact_test_img.png');
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__name {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: $blue;
  }
  &__text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}

.current {
  justify-content: flex-end;

  .message {
    &__name {
      text-align: right;
    }
    &__text {
      text-align: right;
    }
    &__avatar {
      order: 2;
    }
    &__main {
      order: 1;
    }
  }
}

.someone {
  justify-content: flex-start;

  .message {
    &__name {
      text-align: left;
    }
    &__text {
      text-align: left;
    }
  }

  .avatar {
    order: 1;
  }

  .main {
    order: 2;
  }
}

.avatarBorder {
  border: 2px solid $blue;
}