@import "../../theme/palette";

@media (any-hover: hover) {
  .button {
    &:hover {
      background-color: $btn-blue-hover;
    }
  }
  .forgotLink {
    &:hover {
      opacity: 0.8;
    }
  }
}

.wrapperLogin {
  display: flex;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #f2f5f7;
}
.blockImage {
  width: 55%;
  background: linear-gradient(180deg, #624ed2 0%, #3a87f7 100%);
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  color: #eb2010;
}
.blockForm {
  width: 45%;
}
.wrapperForm {
  width: 368px;
  margin: 48px auto 0 auto;
}

.wrapperImages {
  width: 100%;
  text-align: center;
}
.logo {
  margin: 48px 0 56px 0;
  cursor: pointer;
}

.picture {
  margin-top: 72px;
}

.infoText {
  color: $white;
  font-size: 44px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  max-width: 472px;
}

.form {
  width: 100%;
  margin-top: 24px;
}

.label {
  color: $dark-grey;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  text-align: justify;
  margin-bottom: 8px;
}

:global(.react-phone-number-input__error) {
  display: none;
}

:global(.react-phone-number-input__icon) {
  border: none;
}

:global(.react-phone-number-input) {
  position: relative;
  height: 40px;
  margin-top: 20px;
  width: 100%;
  // z-index: 5;
}

:global(.react-phone-number-input__input) {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #cfd7e3;
}

:global(.react-phone-number-input__input::placeholder) {
  color: #cfd7e3;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 24px;
}

:global(.react-phone-number-input__input--invalid) {
  border: 1px solid #eb2010;
}

:global(.react-phone-number-input__country--native) {
  z-index: 5;
  padding-left: 5px;
}

.input {
  height: 40px;
  width: 368px;
  padding: 0 40px;
  border-radius: 4px;
  border: 1px solid #cfd7e3;
  background-color: #ffffff;
  margin-bottom: 16px;
  &::placeholder {
    color: #cfd7e3;
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  &:focus {
    border-color: #03b2cb;
  }
}

.phone {
  width: 368px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cfd7e3;
}

.invalidInput {
  border-color: $red;
}

// .inputPhone {
//   background-image: url('../../theme/images/Login/mobile.svg');
//   background-repeat: no-repeat;
//   background-position: 12px;
// }

.inputPassword {
  background-image: url("../../theme/images/Login/lock.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.wrapperButtons {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}
.button {
  height: 40px;
  width: 369px;
  background-color: $blue;
  color: $white;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1.35px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
  margin: 32px auto 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 240px;
  svg {
    margin-left: 6px;
  }
  &:active {
    background-color: $btn-blue-active;
  }
}

.forgotLink {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: center;
  color: $blue;
  display: block;
  outline: none;
  &:active {
    opacity: 0.6;
  }
}

@media (max-width: 992px) {
  .wrapperLogin {
    flex-direction: column;
  }
  .blockImage {
    width: 100%;
    padding: 0 15px 24px 15px;
  }
  .inner {
    flex-direction: row;
    align-items: center;
  }
  .picture {
    margin-top: 0;
    width: 100%;
  }
  .logo {
    margin: 24px 0 0 0;
    width: 74px;
    height: 54px;
  }
  .infoText {
    max-width: 240px;
    font-size: 28px;
    line-height: 38px;
    flex-shrink: 0;
    text-align: left;
  }
  .blockForm {
    width: 100%;
    padding-bottom: 40px;
  }
  .wrapperForm {
    margin: 40px auto 0 auto;
  }
  .input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .inner {
    flex-direction: column;
  }
  .infoText {
    text-align: center;
    margin: 24px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .logo {
    width: 54px;
    height: 34px;
    margin-top: 12px;
  }
  .wrapperForm {
    margin-top: 20px;
  }
  .button {
    margin: 16px auto 16px auto;
  }
  .wrapperImages {
    position: absolute;
    z-index: 1;
    top: 120px;
  }
  .blockImage {
    overflow: hidden;
    position: relative;
    height: 215px;
  }
  .picture {
    width: 225px;
  }
  .blockForm {
    padding-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .wrapperForm {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
}
