@import "../../theme/palette";

@media (any-hover: hover) {
  .button {
    &:hover {
      background-color: $btn-blue-hover;
    }
  }
}
.wrapperForgot {
  display: flex;
  height: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #f2f5f7;
}
.blockImage {
  width: 55%;
  background: linear-gradient(180deg, #624ed2 0%, #3a87f7 100%);
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  text-align: center;
  color: #eb2010;
}

.blockForm {
  width: 45%;
}
.wrapperForm {
  width: 368px;
  margin: 48px auto 0 auto;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperImages {
  text-align: center;
}
.logo {
  margin: 48px 0 56px 0;
  cursor: pointer;
}

.picture {
  margin-top: 72px;
}

.infoText {
  color: $white;
  font-size: 44px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  max-width: 472px;
}

.form {
  width: 100%;
  margin-top: 24px;
  text-align: center;
}

.input {
  height: 40px;
  width: 368px;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #cfd7e3;
  background-color: #ffffff;
  margin-bottom: 16px;
  &::placeholder {
    color: #cfd7e3;
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  &:focus {
    border-color: #03b2cb;
  }
}

.invalidInput {
  border-color: $red;
}

.wrapperButtons {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.button {
  height: 40px;
  width: 100%;
  background-color: $blue;
  color: $white;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1.35px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
  border: none;
  margin-bottom: 16px;
  margin-top: 16px;
  &:active {
    background-color: $btn-blue-active;
  }
}

.title {
  margin-top: 60px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

}
.underTitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 0 10px;
  margin: 15px 0;
  letter-spacing: 0.15px;
}
@media (max-width: 992px) {
  .wrapperForgot {
    flex-direction: column;
  }
  .blockImage {
    width: 100%;
    padding: 0 15px 24px 15px;
  }
  .inner {
    flex-direction: row;
    align-items: center;
  }
  .picture {
    margin-top: 0;
    width: 100%;
  }
  .logo {
    margin: 24px 0 0 0;
    width: 74px;
    height: 54px;
  }
  .infoText {
    max-width: 240px;
    font-size: 28px;
    line-height: 38px;
    flex-shrink: 0;
    text-align: left;
  }
  .blockForm {
    width: 100%;
    padding-bottom: 40px;
  }
  .wrapperForm {
    margin: 40px auto 0 auto;
  }
  .input {
    width: 100%;
  }
  .button {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .title {
    margin-top: 32px;
  }
  .inner {
    flex-direction: column;
  }
  .infoText {
    text-align: center;
    margin: 24px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .logo {
    width: 54px;
    height: 34px;
    margin-top: 12px;
  }
  .wrapperForm {
    margin-top: 20px;
  }
  .button {
    margin: 16px auto 0 auto;
  }
  .wrapperImages {
    position: absolute;
    z-index: 1;
    top: 120px;
  }
  .blockImage {
    overflow: hidden;
    position: relative;
    height: 215px;
  }
  .picture {
    width: 225px;
  }
  .blockForm {
    padding-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .wrapperForm {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
}