.chatComponent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  @media all and (max-width: 766px){
    padding: 0 12px;
  }

  &__contacts {
    width: 33%;
    margin-right: 20px;
    padding: 16px 0;
  }

  &__room {
    width: calc(67% - 20px);
  }
}